<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="UserReg" type="com.leezu.web.user.entity.UserRegReq"/>
		<typeAlias alias="User" type="com.leezu.web.user.entity.User"/>
		<typeAlias alias="Product" type="com.leezu.web.product.entity.Product"/>
		<typeAlias alias="preProduct" type="com.leezu.web.product.entity.preProduct"/>
		<typeAlias alias="Notice" type="com.leezu.web.notice.entity.Notice"/>
		<typeAlias alias="preNotice" type="com.leezu.web.notice.entity.preNotice"/>
	</typeAliases>
</configuration>